<%
=begin%>
 <!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
    <body>
        <div class="ui container">

            Click the quality name to classify this post...<br><br>

            <% @post_ratings.each do |rating| %>
            <a role="button" href='<%= post_path(@post) %>' class="<%= @session_user.classifications_made.where(post_id: @post.id, quality_id: rating[:id]).empty? ? "btn btn-outline-secondary" : "btn btn-primary" %>">
                <%= rating[:name] %> </a> 
                <%= rating[:rating].round(2) %> rating by <%= rating[:user_count] %> users,
                with an average <%= rating[:name] %> of <%= rating[:classifiers_average].round(2) %> <br>
            <% end %>

            <br>
        </div>

    </body>
</html> 
<%
=end%>


<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="ui borderless inverted main menu">
            <div class="ui text container">
            <a href="/posts" class="item"><strong>Quality Floater</strong></a>
            <a href="<%= "/users/#{session[:current_user_id]}" %>" class="item">My Account</a>
            <a href="/posts/new" class="item">Create Post</a>
            </div>
        </div>

        <div class="ui text container">
            <h1><%= @post.title %></h1>
            <a href="<%= "/users/#{@post.user.id}"  %>"><strong><%= @post.user.username  %></strong></a>
            <% if session[:current_user_id] == @post.user.id %>
                <form method="post" action=<%= "/posts/#{@post.id}" %>>
                    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                    <input name="_method" type="hidden" value="delete" />                       
                    <button type="submit" class="ui button red">Delete Post</button>
                </form>
            <% end %>
            <div class="ui raised very padded text container segment">
                <p style="font-size=20px"><%= @post.content  %></p>
            </div>
            <% colors = ['blue', 'orange', 'green', 'brown'] %>
            <% @post_ratings.each_with_index do |rating, i| %>
                <form class="ui form" accept-charset="UTF-8" action="<%= classify_path(@post) %>" data-remote="true" method="post">
                    <div id="classification-btns">
                        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                        <input name="quality_id" value="<%= rating[:id] %>" type="hidden">
                        <input name="is_classified" value="<%= rating[:is_classified] %>" type="hidden">
                        <button type="submit" class="<%=  !rating[:is_classified] ? "ui gray button" : "ui #{colors[i]} button" %>"><%= rating[:name] %></button>
                        <%= rating[:rating].round(2) %> <div style="display: inline;float:right;padding: 30px 0"> Rated by <%= rating[:user_count] %> users,
                        with an average <%= rating[:name].downcase %> of <%= rating[:classifiers_average].round(2) %> </div>
        
                        <div class="ui progress tiny <%= rating[:rating] > 0 ? colors[i] : 'gray' %>" >
                            <div class="bar" style="width: <%= rating[:rating] > 0 ? (rating[:rating]/rating[:max_rating])*100 : 0 %>%"></div>
                        </div>
                        
                        <br>
                    </div>
                </form>
            <% end %>
        </div>
    </body>
</html>